
<h1><%= @restaurant.name  %></h1>
<p><%= @restaurant.address %></p>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>


<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <div>
      <li class="list-group-item"><%= review.content %></li>
      <li class="list-group-item"><%= review.rating %></li>
    </div>
  <% end %>
</ul>
<br>
